* { margin: 0; padding: 0; }
body { font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif; font-size: 14px; width: 1280px; margin: 0 auto; text-align: center; background-color: gray; }
.top { position: fixed; top: 0; width: 1280px; height: 56px; margin: 0 auto; background-color: #fff; }
#logo { position: absolute; top: 13px; left: 59px; overflow: hidden; }
#logo a { font-family: 'SimHei'; font-size: 1.5em; display: inline-block; overflow: hidden; margin-left: 10px; color: rgb(57, 58, 58); }
.nav { margin-left: 681px; list-style: none; }
.nav li { float: left; margin-top: 16px; }
.nav a { display: block; width: 65px; padding: 0 10px 16px 10px; text-align: center; text-decoration: none; color: black; }
.nav .on, .nav a:hover { color: rgb(231, 79, 77); border-bottom: 5px solid rgb(231, 79, 77); }
.sign_in { position: absolute; top: 16px; left: 1166px; overflow: hidden; color: rgb(231, 79, 77); }
.sign_in a { display: inline-block; overflow: hidden; text-decoration: none; color: rgb(231, 79, 77); }
.main { margin-top: 54px; }
#show { position: relative; height: 693px; color: rgb(255, 255, 255); background-image: url('../img/task7/show.png'); }
#show div p:first-of-type { font-size: 60px; line-height: .45; position: absolute; top: 271px; left: 116px; }
#show div p:last-of-type { font-size: 21px; line-height: 1.5; position: absolute; top: 328px; left: 124px; }
#show a { font-size: 30px; line-height: 65px; position: absolute; top: 429px; left: 126px; display: block; width: 331px; height: 65px; text-align: center; text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(231, 79, 77); }
#advance { height: 205px; background-color: white; }
#advance div { float: left; width: 320px; text-align: center; }
#advance img { margin-top: 45px; }
#advance p { line-height: 1.286; margin-top: 30px; color: rgb(118, 119, 119); border-right: 2px solid rgb(118, 119, 119); }
#advance div:last-of-type p { border: none; }
#unknow { height: 361px; text-align: center; background-color: #edecec; }
#unknow img { margin-top: 90px; }
#unknow p { font-family: 'SimHei'; font-size: 53.586px; line-height: 1.056; margin-top: 50px; color: rgba(50, 51, 51, .502); }
#city_info { height: 310px; padding-top: 30px; text-align: center; background-image: url('../img/task7/map.png'); }
#city_info p:first-of-type { font-size: 21px; line-height: 1.994; color: rgb(255, 255, 255); }
#city_info p:nth-of-type(2) { width: 31px; height: 1px; margin-left: 622px; border-bottom: 3px solid rgb(255, 255, 255); }
#city_info p:last-of-type { font-size: 12px; line-height: 2.605; margin-top: 15px; color: rgba(255, 255, 255, .8); }
#city_info ul { margin-top: 50px; margin-left: 112px; list-style: none; }
#city_info ul li { float: left; margin: 0 14px 0 14px; }
#city_info ul li select { width: 237px; height: 36px; list-style: none; }
#city_info ul li select option { text-align: center; }
#city_info ul li button { font-family: 'Microsoft YaHei'; font-size: 14px; line-height: 1.896; width: 237px; height: 36px; text-decoration: none; color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); outline-style: none; background-color: #be4e48; appearance: none; }
#activity ul { list-style: none; }
#actyvity ul li { float: left; }
#join_us { position: relative; overflow: hidden; height: 749px; margin-top: -4px; background-color: #fff; }
#join_us .item { float: left; width: 30%; }
#join_us .form { float: right; width: 70%; }
#join_us .form textarea { width: 60%; }
.foot { height: 420px; }
.foot .contact { height: 361px; color: white; background-color: #32363e; }
.foot .back { line-height: 59px; height: 59px; padding: 0 100px 0 100px; color: white; background-color: #2f2f38; }
.foot .back p { float: left; }
.foot .back a { float: right; text-decoration: none; color: gray; }