/*
* @Author: laiha
* @Date:   2016-04-06 10:39:50
* @Last Modified by:   laihaibo
* @Last Modified time: 2016-06-10 00:24:26
*/
* { margin: 0; padding: 0; }
body { font-family: 'Microsoft Yahei'; font-size: 14px; min-width: 1280px; margin: 0 auto; text-align: center; }
ul { list-style: none; }
li { float: left; }
a { text-decoration: none; color: black; }
textarea { resize: none; }
select { appearance: none; -moz-appearance: none; -webkit-appearance: none; }
#submit { cursor: pointer; }
header { height: 56px; padding: 0 59px  0 59px; }
header > a { font-size: 1.5em; float: left; margin-top: 13px; }
header > a span { line-height: 31px; display: inline-block; overflow: hidden; height: 31px; margin-left: 10px; }
header nav { display: inline-block; float: right; margin-top: 16px; }
header nav a { font-size: 15px; width: 65px; margin: 0 10px 0 10px; padding-bottom: 15px; }
.active, header nav a:hover { color: #e74f4d; border-bottom: 4px solid #e74f4d; }
#login span { overflow: hidden; vertical-align: top; color: #e74f4d; }
#s1 { height: 730px; color: white; background-image: url('../img/task7/show.png'); background-repeat: no-repeat; background-size: 100% auto; }
#s1 h2 { font-size: 60px; line-height: .45; position: absolute; top: 271px; left: 116px; }
#s1 p { font-size: 21px; line-height: 1.5; position: absolute; top: 328px; left: 124px; }
#s1 a { font-size: 30px; line-height: 65px; position: absolute; top: 429px; left: 126px; display: block; width: 331px; height: 65px; color: white; background-color: #e74f4d; }
#s2 { height: 205px; }
#s2 li { width: 320px; margin-top: 45px; }
#s2 p { line-height: 1.286; margin-top: 30px; color: black; border-right: 2px solid black; }
#s2 li:last-of-type p { border: none; }
#s3 { height: 361px; background-color: #edecec; }
#s3 img { margin-top: 90px; }
#s3 h2 { font-family: 'SimHei'; font-size: 53.586px; line-height: 1.056; margin-top: 50px; color: #a1a1a1; }
#s4 { height: 260px; padding-top: 50px; background-image: url('../img/task7/map.png'); background-repeat: no-repeat; background-size: 100% auto; }
#s4 hr { width: 31px; margin: 10px auto; border: 1px solid white; align: center; }
#s4 h3 { font-size: 21px; line-height: 1.8; color: white; }
#s4 p { font-size: 12px; line-height: 2.6; color: white; }
#s4 ul { margin-top: 40px; margin-left: 160px; }
#s4 li { width: 237px; height: 36px; margin: 0 14px; }
#s4 select { font-family: 'Microsoft Yahei'; font-size: 12px; width: 237px; height: 36px; padding-right: 18px; padding-left: 11px; color: gray; background: url('../img/task7/jtou.png') no-repeat scroll right center transparent; background-color: white; }
#s4 option { display: inline-block; height: 27px; color: black; background-color: #e3e2e4; }
#s4 input { font-family: 'Microsoft Yahei'; font-size: 14px; width: 237px; height: 36px; color: white; border: 0; outline: none; background-color: #e74f4d; }
#s5 { height: 550px; padding-left: 129px; background-color: #edecec; }
#s5 li { margin: 55px 18px 0; }
#s5 img { width: 220px; height: 338px; padding: 13px 9.5px; background-color: white; }
#s5 h3 { line-height: 1.8em; }
#s6 { height: 567px; }
#s6 .left { float: left; width: 66.6%; height: 567px; color: white; background-image: url('../img/task7/7wrs.png'); background-repeat: no-repeat; background-size: 100%; }
#s6 .left h2 { font-size: 160px; }
#s6 .left h3 { font-size: 50px; margin-top: 120px; }
#s6 .left p { font-size: 22px; }
#s6 .right { float: right; width: 33.4%; }
#s6 .right h3 { font-size: 1.5em; line-height: 1.8em; margin-top: 170px; }
#s6 .right h3 span { color: #e74f4d; }
#s6 .right p { font-size: 12px; line-height: 2.5; margin: 10px 70px; }
#s6 .right a { line-height: 31px; display: inline-block; overflow: hidden; width: 103px; height: 31px; border: 1px solid #e74f4d; }
#s6 .right a:hover { color: white; background-color: #e74f4d; }
#s6 .right img { margin-top: 33px; }
#s7 { font-size: 21px; height: 521px; }
#s7 hr { width: 31px; margin: 20px auto; align: center; }
#s7 .left { float: left; width: 33.3%; height: 521px; color: white; background-color: #e74f4d; }
#s7 .left hr { border: 1px solid white; }
#s7 h3 { margin-top: 200px; }
#s7 .left a { line-height: 44px; display: inline-block; width: 170px; height: 44px; color: white; border: 1px solid white; }
#s7 .left a:hover { color: #e74f4d; background-color: white; }
#s7 .middle { float: left; width: 33.3%; }
#s7 .middle hr { border: 1px solid gray; }
#s7 .middle a { line-height: 44px; display: inline-block; width: 170px; height: 44px; color: #e74f4d; border: 1px solid #e74f4d; }
#s7 .middle a:hover { color: white; background-color: #e74f4d; }
#s7 .right { float: left; width: 33.4%; height: 521px; background-image: url('../img/task7/8wls.png'); background-repeat: no-repeat; }
#s8 hr { width: 31px; margin: 10px auto 15px; border: 1px solid #e74f4d; align: center; }
#s8 h3 { font-size: 21px; line-height: 1.5; margin-top: 100px; }
#s8 p { font-size: 12px; line-height: 1.5; }
#s8 p:hover { color: #e74f4d; }
#s8 #join { margin-top: 80px; }
#s8 .left { float: left; width: 300px; margin-left: 138px; }
#s8 #join ul { text-align: left; }
#s8 #join ul li { float: none; height: 95px; margin-bottom: 18px; }
#s8 h4 { font-size: 21px; margin-bottom: 18px; }
#s8 #join ul a { display: block; text-align: right; }
#s8 .right { float: right; width: 640px; margin-right: 138px; }
#s8 form { display: block; width: 100%; text-align: left; color: #231815; }
#s8 .input { display: inline-block; width: 280px; height: 21px; margin: 0 0 13px 0; padding: 10px; border: 0; background-color: #ededee; }
#s8 .input_left { margin-right: 35px; }
#s8 form textarea { width: 620px; margin-bottom: 13px; padding: 10px; border: 0; background-color: #ededee; }
#S8 input:last-of-type { width: 100%; height: 41px; margin-bottom: 13px; border: 0; background-color: #ededee; }
#s9 { clear: both; height: 271px; padding-top: 90px; color: white; background-color: #32363e; }
#s9 h3 { font-size: 21px; line-height: 2.303; }
#s9 p { font-size: 12px; line-height: 1.5; }
#s9 form { margin-top: 10px; }
#s9 #email { width: 431px; height: 41px; }
#s9 #submit { line-height: 41px; display: inline-block; width: 85px; height: 45px; margin-top: -1px; margin-left: -5px; vertical-align: middle; color: white; border: 0; background-color: #6f7278; }
#s9 div { margin-top: 10px; }
#s9 div img { margin: 10px; }
footer { line-height: 59px; height: 59px; padding: 0 100px 0 100px; color: white; background-color: #2f2f38; }
footer p { float: left; }
footer a { float: right; color: white; }