* { margin: 0; padding: 0 }
body { width: 1280px; margin: 0 auto; background-color: gray; font-size: 14px; font-family: 'Microsoft Yahei', Helvetica, Arial, sans-serif; text-align: center }
.top { height: 56px; background-color: #ffffff; position: fixed; top: 0px; width: 1280px; margin: 0 auto }
#logo { overflow: hidden; position: absolute; left: 59px; top: 13px }
#logo a { font-size: 1.5em; font-family: "SimHei"; color: rgb(57, 58, 58); display: inline-block; margin-left: 10px; overflow: hidden }
.nav { list-style: none; margin-left: 681px }
.nav li { float: left; margin-top: 16px }
.nav a { text-decoration: none; display: block; color: black; width: 65px; padding: 0 10px 16px 10px; text-align: center }
.nav .on, .nav a:hover { color: rgb(231, 79, 77); border-bottom: 5px solid rgb(231, 79, 77) }
.sign_in { overflow: hidden; position: absolute; top: 16px; left: 1166px; color: rgb(231, 79, 77) }
.sign_in a { display: inline-block; overflow: hidden; text-decoration: none; color: rgb(231, 79, 77) }
.main { margin-top: 54px }
#show { position: relative; color: rgb(255, 255, 255); background-image: url("../img/task7/show.png"); height: 693px }
#show div p:first-of-type { font-size: 60px; line-height: 0.45; position: absolute; left: 116px; top: 271px }
#show div p:last-of-type { font-size: 21px; line-height: 1.5; position: absolute; left: 124px; top: 328px }
#show a { text-decoration: none; font-size: 30px; color: rgb(255, 255, 255); display: block; width: 331px; height: 65px; line-height: 65px; background-color: rgb(231, 79, 77); text-align: center; position: absolute; left: 126px; top: 429px }
#advance { background-color: white; height: 205px }
#advance div { width: 320px; text-align: center; float: left }
#advance img { margin-top: 45px }
#advance p { margin-top: 30px; color: rgb(118, 119, 119); line-height: 1.286; border-right: 2px solid rgb(118, 119, 119) }
#advance div:last-of-type p { border: none }
#unknow { background-color: #edecec; height: 361px; text-align: center }
#unknow img { margin-top: 90px }
#unknow p { font-size: 53.586px; font-family: "SimHei"; color: rgba(50, 51, 51, 0.502); line-height: 1.056; margin-top: 50px }
#city_info { background-image: url("../img/task7/map.png"); height: 310px; padding-top: 30px; text-align: center }
#city_info p:first-of-type { font-size: 21px; color: rgb(255, 255, 255); line-height: 1.994 }
#city_info p:nth-of-type(2) { height: 1px; width: 31px; border-bottom: 3px solid rgb(255, 255, 255); margin-left: 622px }
#city_info p:last-of-type { font-size: 12px; color: rgba(255, 255, 255, 0.8); line-height: 2.605; margin-top: 15px }
#city_info ul { list-style: none; margin-left: 112px; margin-top: 50px }
#city_info ul li { float: left; margin: 0 14px 0 14px }
#city_info ul li select { list-style: none; width: 237px; height: 36px }
#city_info ul li select option { text-align: center }
#city_info ul li button { text-decoration: none; width: 237px; outline-style: none; height: 36px; appearance: none; background-color: #be4e48; font-size: 14px; color: rgb(255, 255, 255); line-height: 1.896; font-family: "Microsoft YaHei"; border: 1px solid rgb(255, 255, 255) }
#activity ul { list-style: none }
#actyvity ul li { float: left }
#join_us { height: 749px; background-color: #fff; margin-top: -4px; position: relative; overflow: hidden }
#join_us .item { float: left; width: 30% }
#join_us .form { float: right; width: 70% }
#join_us .form textarea { width: 60% }
.foot { height: 420px }
.foot .contact { height: 361px; background-color: #32363e; color: white }
.foot .back { height: 59px; line-height: 59px; background-color: #2f2f38; color: white; padding: 0 100px 0 100px }
.foot .back p { float: left }
.foot .back a { float: right; text-decoration: none; color: gray }
